.first-section{
  .jumbotron{
    background-color: $primary-color;
    min-height: 300px;
    margin-bottom: 0;
    position: relative;
    .cover-img{
      position: absolute;
      top: 45px;
      img{
        height: auto;
        object-fit: cover;
        width: 95%;
        margin: 0 auto;
        display: block;
      }
    }
    .cover-content{
      z-index: 2;
     
          /* display: flex; */
    /* align-items: start; */
    /* justify-content: start; */
    /* flex-direction: column; */
    width: 30%;
    position: absolute;
    top: 230px;
    left: 100px;

    }
  }

}

@media(max-width: 912px){
  .first-section{
    .jumbotron{
      min-height: 115px;
      .cover-img{
        img{
          width: 100%;
        }
      }
      .cover-content{
        width: 100%;
        position: absolute;
        top: 60px;
        left: 20px;
      }
    }

  }
}
